version: '3.8'

services:
  api:
    build: .
    container_name: restapi-ml
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - APP_NAME=RestAPI-ML-Docker
    restart: always
